/* css styles */
.navbar {
  background-color: #357a37 !important;
  border-color: #005519 !important;
}

.navbar a,
.navbar-brand {
  color: white !important;
}

.navbar a:hover {
  color: #a3ed92 !important;
}
